
.account__container {
    width: 90%;
    margin: 100px auto;
}

.account__title {
    font-size: 2rem;
    border-bottom: 1px solid #000000;
    display: block;
    text-align: left;
    margin-bottom: 3rem;
}

.avatar {
    width: 5rem;
    height: 5rem;
    background-image: url(./pic/avatar-trader.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin-bottom: 3rem;
}

.myfile {
    border: 1px solid #d3d3d3;
    text-align: left;
    background: #d3d3d3;
    display: inline-block;
    padding: 5px 10px;
    margin: 3rem 1rem;
}

.myfile__text {
    display: inline-block;
}

.avatar__row::after {
    content: "";
    display: table;
    clear: both;
}

.myfile input {
    display: none;
}


.first__row,
.second__row,
.third__row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    margin-bottom: 3rem;
}


input {
    display: block;
    margin-top: 10px;
    margin-right: 3rem;
    padding: 5px 10px;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}

.submit {
    padding: 5px 10px;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}